.flex {
    display: flex;
  }
  .white {
    color: white;
  }
  .gap-1{
    gap: 1rem;
  }
  .gap-2{
    gap: 2rem;
  }
  .decorationNone{
    text-decoration: none;
  }

  .m-auto{
    margin: auto;
  }
  .mt-2{
    margin-top: 2rem;
  }
  .mt-3{
    margin-top: 3rem;
  }